:root {
    --mainColor: rebeccapurple;
}

.my-footer {
    height: 150px;
    line-height: 150px;
    background: var(--mainColor);
    text-align: center;
    color: white;
    span {
        color: white;
    }
}